/*********************** Common style ***********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.padding{
  padding: 1rem;
}

.padding-r-l{
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-left{
  margin-left: 2rem;
}

.margin-right{
  margin-right: 2rem;
}

.margin-top{
  margin-top: 1rem;
}

.l-height {
  line-height: 35px;
}

.normal-size {
  min-height: 430px;
}

.big-size {
  min-height: 860px;
}

.buttonshape {
  border: none;
  padding: 8px 16px 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 34px;
}

.titoli{
  font-size: 52px;
  padding: 1rem;
  font-weight: 600;
}

.paragrafi{
  font-size: 24px;
  margin-top: 20px;
  line-height: 1.4;
}


/*********************** Header ***********************/
header {
  background-color: #add8e6;
  padding-top: 1rem;
  background-image: url(./img/jumbo.png);
  background-size: 100%;
  
}

.flex-h {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.nav-column-l {
  height: 38px;
  margin-left: 6px;
}

.nav-column-r {
  height: 38px;
  margin-right: 6px;
}

.nav-column-c {
  height: 38px;
  width: calc(50% - 2px);
  text-align: center;
  word-spacing: 2rem;  
  color: white;
  font-size: 18px;
}

.login-button{
  background-color: white;
  color: black;
  font-size: 16px;
}

.download-button{
  font-size: 20px;
  padding: 1rem;
  margin-top: 1rem;
}

.open-button{
  font-size: 20px;
  padding: 1rem;
  margin-left: 1rem;
  background-color: #222;
  color: white;
}

/*********************** Main ***********************/
.stars{
  background-image: url(./img/stars.svg);
  background-repeat: no-repeat;
  background-position: top;
  min-height: 50px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 120px;
}

.download-button2{
  background-color: #7289da;
  color: white;
  font-size: 20px;
  padding: 1rem;
  margin-bottom: 3rem;   
}

/* Colori */
.white {
  background-color: white;
}

.grey {
  background-color: #d3d3d3;
}

.black {
  background-color: #222;
}

/* Flex Containers */
.flex1 {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.flex2 {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flex3 {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: row-reverse;
}

.flex4 {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.flex5 {
  display: flex;
  justify-content: space-between;
}

/* Flex Items */
.item1 {
  max-width: 50%;
  color: white;
  text-align: center;
}

.item2 {
  width: 60%;
  align-self: center;
}

.item3 {
  width: 40%;
}

.item4 {
  width: 100%;
  text-align: center;
}

.item5 {
  width: 30%;
}

.item6 {
  width: 70%;
}

.item-figlio {
  min-width: calc(100% / 4);
}

/*********************** Footer ***********************/
hr {
  margin-bottom: 1rem;
  border-color: #7289da;
}

.bot-column {
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}

.flex-f {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.register-button{
  background-color: #7289da;
  color: white;
  margin: 8px;
}

.f-title{
  font-size: 38px;
  font-weight:600;
}

.it-paragraph{
  color: white;
  line-height: 1px;
}

.discord-blue{
  color: #7289da;
}

.ita{
  width: 8%;
}

.f-paragraph{
  color: white;
}